section.danhsach.section
    .container
        .row
            .title.col-12.col-lg-8 
                h1.site-semi-36 Thỏa sức vui đùa, vun vén tình yêu với Siêu công viên nước lớn bật nhất tại Việt Nam
                p.text-5-regular 20/12/2022
                .content
                    -for (x=1;x < 5; x++)
                        .dis
                            p.Text-Regular-4 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus eius praesentium dicta inventore. Ex sint dolores obcaecati doloremque dolorum ipsum molestiae laudantium impedit quos optio, omnis consequuntur, atque possimus quo!
                            .image
                                a(href="#")
                                    img(src="./img/1.jpg", alt="dulich")
            
            .subcontent.col-lg-4 
                h1.Text-2-Regular Bài viết khác
                -for (x=1;x<4;x++)
                    .phuluc 
                        .image 
                            a(href="#") 
                                img(src="./img/1.jpg", alt="")
                        .dis2 
                            .date.flex
                                p.text-5-regular 20/12/2022
                                p.text-5-regular.text-bold Tin du lịch
                            .mota 
                                p Mùa giáng sinh này, mình cùng đến Amazing Island Resort nhé
                        
                        
